@import url('https://fonts.googleapis.com/css?family=Arimo');
.piecesite{
  max-width: 1120px;
  margin:0 auto;
  background-color: #f8f8f8;
  color: #1b1b1b;
  font-family: 'Josefin Sans', sans-serif;
}
/*menu*/
.navbar{
  font-family: 'Josefin Sans', sans-serif;
}
.icon{
  width: 12px;
}
.top-menu {
  background: #f8f8f8;
  /*box-shadow: 3px 0 7px rgba(0,0,0,.3);*/
  padding: 10px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;
    text-decoration:none;
    color:#1b1b1b;
    font-size:16px;
    padding-top: 10px;
    padding-left: 40px;
}
.menu-main {
  list-style: none;
  margin: 0;
  float: right;
  padding-right: 40px;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  color: #1b1b1b;
  transition:.3s linear;
} a:last-child{
  padding-right: 15px;
} input{
  padding-right: 0px;
  
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: 10;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}
.logo__small{
  width:80px;
}
/*menu-dropdown*/
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  padding-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}
/*#f1f1f1*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fff; }
/*menu-dropdown*/
::-webkit-input-placeholder {font-size: 9px;}
::-moz-placeholder          {font-size: 9px;}
:-moz-placeholder           {font-size: 9px;}
:-ms-input-placeholder      {font-size: 9px;}
.search__place{
  cursor: pointer;
}
/*menu*/
/*top__recipe*/
.logo__big{
  width:252px;
  padding-top: 50px;
  padding-left: 95px;
}
.header__small{
  font-size:24px;
  color: #921026;
  font-family: 'Playfair Display', serif;
  padding-left: 95px;
}
.recipe__text{
  font-weight: 600;
  font-size: 16px;
  padding-left: 95px;
}
.button__recipe{
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600; 
  padding: 5px 10px 5px 10px ;
}
.button__wrapper{
  padding-left:95px;
}
.best__recipe{
  background: url('images/background.png');
}
/*top__recipe*/
/*recipe__menu*/
.recipe__menu{
  display: flex;
  justify-content: space-between;
  padding:40px 48px 45px 48px;
}
.descript__flex{
  display:flex;
  
} p{
  padding-right: 3px;
}
/*recipe__menu*/
/*recipe__bananas */
.recipe__ice{
  display:flex;
  padding-bottom: 25px;
} 
.header__ice{
  font-size: 32px;
  padding-left: 10px;
  
}
.recipe__banana{
  padding-left: 40px ;
}
.recipe__social{
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 55px;
  font-size: 15px;
}

.ice__btn{
  height: 35px;
  width: 120px;
  font-size: 12px;
}
.recipe__descript{
  font-size: 16px;
}
.recipe__direct{
  font-size: 16px;
}

/*recipe__bananas */
/*footer*/
.footer{
  display: flex;
  justify-content: space-between;
  max-width:1120px;
  background-color: #2f2f2f;
  color:#909090;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
}
.footer__right{
  font-size: 12px;
  line-height: 101px;
  padding-right:35px ;
}
.footer__nav{
  list-style: none;
  float: right;
}
.footer__link{
  font-size: 12px;
}
.footer__nav li {display:inline-block}
.footer__nav a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 101px;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  color: #868686;
  transition:.3s linear;
} a:last-child{
} 
.footer__nav a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: 10;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.footer__nav a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.footer__nav {
  float: none;
}

.footer__nav a {
}
.footer__nav a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.footer__nav li {display: block;}
}
.logo__footer{
  padding-top: 50px;
  padding-left: 35px;
  width:80px;
  
}
/*footer*/